html {
    font-size: 62.5%;

}

body {
    background-color: #dfdbdb;
    font-family: 'Open Sans', sans-serif;





}

.main-container {
    display: block;

    margin: 0 auto;
    min-width: 320px;
    max-width: 1200px;


}

.img-1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;


}

.container {
    display: block;
    text-align: center;
    float: left;
    padding: 20px 0 20px 10px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #dfdbdb;

}

.container_footer {
    display: block;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    text-align: center;


}

header {
    background-color: #ffff;
    display: block;
    float: left;
    border-bottom: 1px solid #70a5d3e3;
    width: 100%;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px 0 20px 0;
}



h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px 0 20px 0;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px 0 10px 0;
}

h4 {
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px 0 10px 0;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;

}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;



}


section {
    background-color: #ffff;
    display: block;
    width: 100%;
    float: left;
    font-size: 1.5rem;
    /* equivalente a 15px */
   /* padding: 20px; */
   padding-bottom: 5px;
    width: 100%;

}

section nav {
    display: block;
    width: 23%;

}

nav li {
    background-color: #efefef;
    margin: 1px 1px 1px 0;
    padding: 10px;


}


nav ul {
    padding: 2px;
    list-style: none;

}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 70%;

}

footer {
    background-color: #254159;

    display: block;
    float: left;
    width: 100%;
    padding: 20px;


}

footer p {
    color: #ffffffff;
    font-size: 1.4rem;

}

footer small {
    font-size: 80%;
    display: block;
}




@media (max-width:425px) {

    section nav,
    section article {
        width: 100%
    }
}

@media (max-width:425px) {

    nav,
    ul {
        margin-bottom: 10px;
        padding: 0;

    }
}


@media (max-width:425px) {
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:425px) {
    section .legenda-container {
        width: 45vw;
    }
}

@media (max-width:425px) {

    section,
    header {
        padding: 0;
    }
}

@media(max-width:425px) {
    footer {
        width: 100%;
    }
}

.container {
    padding-left: 1%;
    padding-right: 1%;
}

.cog-abuse.cog-wrapper {
    visibility: hidden !important;
}

#banner {

    background-image: url('../imagens/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vm;
    height: 60vh;



}

.legenda-container {
    width: 25vw;
    float: right;
    margin: 10vh 10vh 0 0;



}

.legenda {
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2rem;


}

.legenda h5,
.legenda h4 {
    color: #254159;

}

.button-cta {
    display: block;
    background-color: orangered;
    color: #fff;
    font-size: 2rem;
    box-shadow: 2px 2px 4px black;
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    text-align: center;




}